p {
	text-align: justify-all;
}


#page{
	padding-top: 1rem;
	padding-bottom: 8rem;
}
.photo {
	/* gestion de la photo en tete de cv */
	max-height: 15rem; 
}

.reduce{
	margin: auto !important;
}

.card-contact {
	margin: auto;
	padding: 0.25rem;
}

.card.contact {
	border: none;
}

.icon {
	margin: auto;

	max-height: 2.5rem;
	max-width: 2.5rem;
}

.title-competences {
	vertical-align: middle; 
}

.title-formation, .title-competences,
.title-experience, .title-projets  {
	text-align: center;
}

.title-competences::after,
.title-experience::after {
	display: inline-block;
	content: "";
	height: 40px;
	width: 40px;
	padding-left: 2rem;
}

.competence-sub-title {
	font-weight: bold;
	font-size:  1.1rem;
}

small {
	font-size: 0.75rem !important;
}

.title-formation::before,
.title-projets::before {
	display: inline-block;
	content: "";
	height: 40px;
	width: 40px;
	padding-right: 2rem;
}

#bottom-nav {
	background-color: #e9ecef;
}

.blockquote {
	/* surcharge de bootstrap */
	background: rgba(255,249,177,0.4);
	padding: 1rem;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

a.not-decorated {
	color: #212529;
	text-decoration: none;
}

.accicon {
	float: left;
	font-size: 20px;
	width: 1.2em;
}

a.not-decorated:not(.collapsed) .rotate-icon {
	transform: rotate(180deg);
}